* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 100%;
}

:root {
    --main-padding: 7rem 9rem;
    --light-bg: rgb(232, 235, 252);
    --red-color: #c9040f;
}

.main-heading {
    font-size: 3.2rem;
    font-weight: bold;
}

.sub-heading {
    font-size: 2.2rem;
    font-weight: 600;
}

.main-para {
    font-size: 1.3rem;
    font-family: sans-serif;
    line-height: 2.5rem;
    font-weight: 500;
}

.sub-para {
    font-size: 1.09rem;
    font-family: sans-serif;
    letter-spacing: 0.6px;
}

#hero-section {
    background-image: url("images/home-img.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffff;
    display: grid;
    place-content: center;
    padding: var(--main-padding);
}

.container-fluid {
    width: 70%;
    margin: auto;
}

#section2 {
    padding: var(--main-padding);
}

/* section3 start*/



#section3 {
    padding: var(--main-padding);
    background-color: var(--light-bg);
}


#minimal-statistics .row:last-child {
    justify-content: center;
}

/* section3 end */



/* section4 start */
#section4 {
    padding: var(--main-padding);
}

#section4 .serv {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top: 4px solid #c9040f;
    height: 250px;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#section4 .serv:hover {
    background-color: #c9040f;
    color: #fff;
}

#section4 .icon {
    background-color: var(--red-color);
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}


/* section4 end */
/* section5 start */
#section5 {
    padding: var(--main-padding);
    background-color: var(--light-bg);
}

.service-item {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    height: 328px;
    clip-path: polygon(0 10%,
            10% 0,
            90% 0,
            100% 10%,
            100% 90%,
            90% 100%,
            10% 100%,
            0% 90%,
            0% 10%);
    border: 1px solid red;
    
}
.service-item:hover{
    box-shadow: rgba(255, 0, 0, 0.813) 0px 50px 100px 20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 0, 0, 0.64) 0px -2px 6px 0px inset;
}


.service-item .main-para {
    line-height: 1.5rem;
    margin-top: 20px;
}

.service-item i {
    font-size: 36px;
    margin-right: 20px;
    color: #333;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service-item p {
    font-size: 16px;
    color: #777;
}

/* section5 end */

/* why choose us */

#section6 {
    padding: var(--main-padding);
}


.icon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-box .box {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom: 5px solid #c9040f;
    border-radius: 10px;
}

.icon-box .box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.icon-box .box .icon {
    background-color: var(--red-color);
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}

#section6 .main-para {
    line-height: 1.5rem;
    margin: 1.5rem;
}


/* why choose us end */


@media screen and (max-width: 1024px) {
    :root {
        --main-padding: 4rem 2rem;
    }
    #section4 .serv{
        height: 190px;
    }
    #section4 .icon{
        margin-top: 20px;
    }

}

@media screen and (max-width: 768px) {
    #section2 img{
        width: 60%;
        margin-bottom: 20px;
    }
    #section2 .row .col-lg-6{
        text-align: center;
    }
    #section6 .icon-box .box{
        width: 47%;
    }
    
}

@media screen and (max-width: 425px) {
    :root {
        --main-padding: 2rem 1rem;
    }

    .main-para {
        line-height: 1.5rem;
        text-align: center;
    }

    .main-heading {
        font-size: 2.7rem;
        text-align: center;
    }
    #section2 img{
        width: 100%;
    }
    #section6 .icon-box .box{
        width: 100%;
    }
    #section4 .serv{
        height: auto;
    }
}